<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../wwwroot/lib/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../../wwwroot/lib/Glider/glider.js"></script>
    <link rel="stylesheet" href="../../wwwroot/lib/Glider/glider.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="../script/main.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">uncode</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto"></ul>
                <ul class="navbar-nav mr-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">pages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">extra</a>
                    </li>
                </ul>
            </div>
        </nav>
        <article class="header-slogan">
            <h1>You deserve a stunning website</h1>
            <p>Uncode is a pixel-perfect Theme designed with terrific attention to details, flexibility and performance.
                Each concept can be easily imported. Start with any of these layouts or create your own.</p>
            <a href="#"><button class="btn">Purchase Now</button></a>
        </article>
    </header>
    <main>
        <nav class="filter-nav">
            <ul>
                <li><a href="">show all</a></li>
                <li><a href="">blog</a></li>
                <li><a href="">blog</a></li>
                <li><a href="">blog</a></li>
                <li><a href="">home</a></li>
                <li><a href="">blog</a></li>
                <li><a href="">blog</a></li>
                <li><a href="">blog</a></li>
                <li><a href="">classes</a></li>
                <li><a href="">design</a></li>
                <li><a href="">blog</a></li>
                <li><a href="">blog</a></li>
                <li><a href="">blog</a></li>
            </ul>
        </nav>
        <section class="combo-box-sec">
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
            <div class="box">
                <img src="../../wwwroot/images/HP-Classic-Agency-Uncode-min-uai-516x344.jpg">
                <a href="#">
                    <p>Classic Agency</p>
                </a>
            </div>
        </section>
        <section class="create-web">
            <article>
                <div>
                    <p>Create awesome web presentations</p>
                    <button class="btn"><i class="fas fa-play"></i></button>
                    <p>Discover the amazing Slides Scroll!</p>
                </div>
            </article>
        </section>
        <section class="slider-sec">
            <h1>Showcase</h1>
            <p>Hi-quality standards websites created with the Uncode Theme.</p>
            <article class="slider-art">
                <div class="glider-contain">
                    <div class="glider">
                        <div><img
                                src="https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2018/12/traintokitezh.com-min-uai-750x499.jpg">
                        </div>
                        <div><img
                                src="https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2018/12/traintokitezh.com-min-uai-750x499.jpg">
                        </div>
                        <div><img
                                src="https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2018/12/traintokitezh.com-min-uai-750x499.jpg">
                        </div>
                        <div><img
                                src="https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2018/12/traintokitezh.com-min-uai-750x499.jpg">
                        </div>
                        <div><img
                                src="https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2018/12/traintokitezh.com-min-uai-750x499.jpg">
                        </div>
                        <div><img
                                src="https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2018/12/traintokitezh.com-min-uai-750x499.jpg">
                        </div>
                        <div><img
                                src="https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2018/12/traintokitezh.com-min-uai-750x499.jpg">
                        </div>
                        <div><img
                                src="https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2018/12/traintokitezh.com-min-uai-750x499.jpg">
                        </div>

                        <div><img
                                src="https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2018/12/traintokitezh.com-min-uai-750x499.jpg">
                        </div>
                        <div><img
                                src="https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2018/12/traintokitezh.com-min-uai-750x499.jpg">
                        </div>
                        <div><img
                                src="https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2018/12/traintokitezh.com-min-uai-750x499.jpg">
                        </div>
                        <div><img
                                src="https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2018/12/traintokitezh.com-min-uai-750x499.jpg">
                        </div>

                    </div>
                </div>
            </article>
            <button class="btn">View showcast</button>
        </section>
        <section class="video-sec">
            <video autoplay controls
                src="https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2017/11/designer-work-NEW.mp4?_=1"></video>
            <article>
                <div>
                    <h1>Create stunning websites now.
                        Purchase Uncode. Just $59!</h1>
                    <p>One of the Top Seller creative themes of all time with 50.000 growing sales.</p>
                    <button class="btn">Purchase Now</button>
                    <table>
                        <tbody>
                            <tr>
                                <td><a href=""><i class="far fa-life-ring"></i><span>ulite support</span></a></td>
                                <td><a href=""><i class="fas fa-book-open"></i><span>learning center</span></a></td>
                                <td><a href=""><i class="fas fa-video"></i><span>video tuts</span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>

        </section>

    </main>

    <script>
        var slider = new SliderService();
    </script>
</body>

</html>